header {
position: fixed;
top: 0;
left: 0;
background-color: #f0f3fa;
width: 100%;
padding: 15px;
border-bottom: 1px solid #395886;
display: flex;
justify-content: center;
};

input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
};


.btn {
    padding: 8px 15px;
    background-color: #395886;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}